<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button slot="icon-only" [routerLink]="[ '/expenses/create' ]">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Expenses Total: {{ sumTotal }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let expense of expenses" [routerLink]="[ './detail/', expense.id ]">
      <ion-col>
        <ion-thumbnail slot="start">
          <ion-img [src]="expense.imageUrl"></ion-img>
        </ion-thumbnail>
      </ion-col>
      <ion-col>
        <ion-label> {{ expense.timestamp }} </ion-label>
      </ion-col>
      <ion-col>
        <ion-label> {{ expense.value }} </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>
