<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button slot="icon-only" type="submit" (click)="expenseForm.ngSubmit.emit()" [disabled]="!form.valid || !expense.imageUrl">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
      <ion-button slot="icon-only" (click)="onCancelExpense()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Create New Expense</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #expenseForm="ngForm" (ngSubmit)="form.valid && onSubmit()" [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="4" offset-lg="4">
          <ion-item>
            <ion-label>Logged:</ion-label>
            <ion-text>{{ expense.timestamp | date:'dd/MM/yyyy HH:mm:ss' }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Amount (£):</ion-label>
            <ion-input type="number" inputmode="decimal" formControlName="expenseValue" placeholder="Enter the amount here"></ion-input>
          </ion-item>
          <ion-label position="floating" size="small" *ngIf="!form.get('expenseValue').valid && form.get('expenseValue').touched" color="danger">
            <p>Amount must be valid as currency (e.g. 100 or 100.05) and &gt; 0</p>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="expense.imageUrl" size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="4" offset-lg="4" (click)="onPickPhoto()">
          <ion-img [src]=expense.imageUrl></ion-img>
        </ion-col>
        <ion-col *ngIf="!expense.imageUrl" size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="4" offset-lg="4" (click)="onPickPhoto()">
          <ion-item>
            <ion-label>Photo:</ion-label>
            <ion-input formControlName="imageUrl" placeholder="Click here to take a photo or pick a file"></ion-input>
          </ion-item>
          <ion-label position="floating" size="small" *ngIf="!form.get('imageUrl').valid && form.get('imageUrl').touched" color="danger">
            <p>You must take, or select, a photo</p>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-item hidden>
    <input type="file" #filePicker (change)="onFilePicked($event)" />
  </ion-item>  

</ion-content>

